
<div class= "container-fluid">
<h1> Leader Board </h1> </div>
</br>
</div>





<div class = "col-sm-offset-0 col-sm-6">



<table class= 'table table-hover'>

  <tr>
    <th> </th>
    <th> User Name </th>
    <th> Total Point </th>
    <th> Winning Percentage </th>

 

  </tr>


  <% @tabelas.each do |tabela| %>
  <tr>
      <td><%= tabela.rowno %> </td>
<td>  <%= tabela.betuser %>  </td>  


    <td><%= tabela.sum %> </td>
      <td><%= tabela.pct %> </td>
 

    





  </tr>
  <% end %>


</table>

</div>

