
<div class= "container-fluid">
<h1> Leader Board </h1> </div>
</div>


<div class = "col-sm-offset-0 col-sm-12">

<table class="table table-striped">

  <tr>

    <th> User Name </th>
    <th> Total Point </th>

    <th>  </th>
  
    <th>  </th>    
    <th>  </th>
  
    <th>  </th>    <th>  </th>
  
    <th>  </th>    
    <th>  </th>
  
    <th>  </th>    <th>  </th>
  
    <th>  </th>    
    <th>  </th>
  
    <th>  </th>    <th>  </th>
  
    <th>  </th>    
    <th>  </th>
  
    <th>  </th>
  </tr>


  <% @tabelas.each do |tabela| %>
  <tr>

    <td><%= tabela.betuser %> </td>

    <td><%= tabela.sum %> </td>
    <td> </td>    
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>    
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>    
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>    
    <td> </td>
    <td> </td>





  </tr>
  <% end %>


</table>

</div>

